In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\env\lib\site-packages (2.3.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\envs\env\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\envs\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\envs\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("products_data.csv")

In [4]:
print(df)

    Index                                   Name  \
0       1   Compact Printer Air Advanced Digital
1       2                                 Tablet
2       3                   Smart Blender Cooker
3       4           Advanced Router Rechargeable
4       5           Portable Mouse Monitor Phone
..    ...                                    ...
95     96                                 Router
96     97     Fast Thermostat Microphone Scooter
97     98  Eco Heater Toaster Stove Silent Sense
98     99               Clean Blender Scale Lite
99    100                             Smart Lamp

                                          Description  \
0       Situation organization these memory much off.
1         Discussion loss politics free one thousand.
2                                   No situation per.
3                     For force gas energy six laugh.
4   Feeling back religious however author room sci...
..                                                ...
95                   Investment everything story buy.
96                     Nature notice themselves news.
97                   Understand still or summer rule.
98                               Final art some push.
99                         However public major baby.

                          Brand                Category  Price Currency  \
0       Garner, Boyle and Flynn      Books & Stationery    265      USD
1                   Mueller Inc        Shoes & Footwear    502      USD
2    Lawson, Keller and Winters      Kitchen Appliances    227      USD
3            Gallagher and Sons      Kitchen Appliances    121      USD
4                     Irwin LLC          Kids' Clothing      1      USD
..                          ...                     ...    ...      ...
95                 Atkinson Inc     Laptops & Computers    375      USD
96                     Shea Ltd  Beauty & Personal Care    289      USD
97                     West Ltd       Cleaning Supplies    232      USD
98     Bell, Gamble and Barrett        Camping & Hiking    241      USD
99  Hebert, Hughes and Trujillo          Bedding & Bath     71      USD

    Stock            EAN        Color         Size   Availability  Internal ID
0     774  2091465262179  ForestGreen        Large      pre_order           56
1      81  5286196620740        Black      8x10 in       in_stock           29
2     726  1282898648918    SlateGray           XS       in_stock           70
3     896  3879177514583    PaleGreen            L   discontinued           31
4     925  9055773261265     SeaShell   100x200 mm   discontinued           10
..    ...            ...          ...          ...            ...          ...
95    703  3330396409604    Gainsboro      8x10 in  limited_stock           55
96    727  9265397743935        White  Extra Large      backorder           25
97    998  5505866454530      OldLace        Small  limited_stock           20
98    391  3893594435450   Aquamarine       5x7 in  limited_stock            5
99    518  8264263605712        Brown       Medium  limited_stock            3

[100 rows x 13 columns]

In [5]:
df2 = pd.read_csv("customers_data.csv")

In [6]:
print(df2)

    Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston    Lozano
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c      Linda     Olsen
4       5  053d585Ab6b3159     Joanna    Bender
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info        2020-08-24
1         686-620-1820x944                 vmata@colon.com        2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com        2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org        2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net        2021-04-17
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]

In [7]:
df.head()

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,1,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265,USD,774,2091465262179,ForestGreen,Large,pre_order,56
1,2,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502,USD,81,5286196620740,Black,8x10 in,in_stock,29
2,3,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,227,USD,726,1282898648918,SlateGray,XS,in_stock,70
3,4,Advanced Router Rechargeable,For force gas energy six laugh.,Gallagher and Sons,Kitchen Appliances,121,USD,896,3879177514583,PaleGreen,L,discontinued,31
4,5,Portable Mouse Monitor Phone,Feeling back religious however author room sci...,Irwin LLC,Kids' Clothing,1,USD,925,9055773261265,SeaShell,100x200 mm,discontinued,10

In [8]:
df2.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [9]:
# Summary statistics
print(df.describe())

            Index      Price       Stock           EAN  Internal ID
count  100.000000  100.00000  100.000000  1.000000e+02   100.000000
mean    50.500000  451.19000  545.710000  4.876267e+12    49.340000
std     29.011492  281.60911  266.716863  2.918084e+12    28.078253
min      1.000000    1.00000   10.000000  5.246382e+08     3.000000
25%     25.750000  230.75000  347.500000  2.062323e+12    25.000000
50%     50.500000  407.50000  575.500000  4.875720e+12    48.000000
75%     75.250000  679.00000  749.250000  7.676943e+12    74.500000
max    100.000000  999.00000  998.000000  9.921752e+12    99.000000

In [10]:
# Data types and non-null counts
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Index         100 non-null    int64
 1   Name          100 non-null    object
 2   Description   100 non-null    object
 3   Brand         100 non-null    object
 4   Category      100 non-null    object
 5   Price         100 non-null    int64
 6   Currency      100 non-null    object
 7   Stock         100 non-null    int64
 8   EAN           100 non-null    int64
 9   Color         100 non-null    object
 10  Size          100 non-null    object
 11  Availability  100 non-null    object
 12  Internal ID   100 non-null    int64
dtypes: int64(5), object(8)
memory usage: 10.3+ KB
None

In [11]:
# Show column names
print(df.columns)

Index(['Index', 'Name', 'Description', 'Brand', 'Category', 'Price',
       'Currency', 'Stock', 'EAN', 'Color', 'Size', 'Availability',
       'Internal ID'],
      dtype='object')

In [12]:
# Mean, Median, Mode for Price
print("Price:")
print("Mean:", df['Price'].mean())
print("Median:", df['Price'].median())
print("Mode:", df['Price'].mode().values)

Price:
Mean: 451.19
Median: 407.5
Mode: [489 689 731 982]

In [13]:
# Optional: Stock
print("\nStock:")
print("Mean:", df['Stock'].mean())
print("Median:", df['Stock'].median())
print("Mode:", df['Stock'].mode().values)

Stock:
Mean: 545.71
Median: 575.5
Mode: [623]

In [14]:
# Find duplicates
duplicates = df.duplicated()

In [15]:
print(duplicates)

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [16]:
# Check for null values
print(df.isnull())

    Index   Name  Description  Brand  Category  Price  Currency  Stock    EAN  \
0   False  False        False  False     False  False     False  False  False
1   False  False        False  False     False  False     False  False  False
2   False  False        False  False     False  False     False  False  False
3   False  False        False  False     False  False     False  False  False
4   False  False        False  False     False  False     False  False  False
..    ...    ...          ...    ...       ...    ...       ...    ...    ...
95  False  False        False  False     False  False     False  False  False
96  False  False        False  False     False  False     False  False  False
97  False  False        False  False     False  False     False  False  False
98  False  False        False  False     False  False     False  False  False
99  False  False        False  False     False  False     False  False  False

    Color   Size  Availability  Internal ID
0   False  False         False        False
1   False  False         False        False
2   False  False         False        False
3   False  False         False        False
4   False  False         False        False
..    ...    ...           ...          ...
95  False  False         False        False
96  False  False         False        False
97  False  False         False        False
98  False  False         False        False
99  False  False         False        False

[100 rows x 13 columns]